@import "../mixins.scss";


.card-container {
  height: 141px;
  background-color: white;
  background-size: cover;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
  opacity: 0.6;
  @include transition (all, 0.25s, ease);
  @include bp-medium {
    margin-left: -195px;
  }
  @include bp-small {
    margin-left: -198px;    
  }
  @include bp-mobileOnly {
    margin-left: -200px;    
  }
}

.clicked-card {
  height: 141px;
  background-color: white;
  background-size: cover;
  border: 1px solid black;
  opacity: 1;
  position: relative;
  border-radius: 10px;
  font-size: 17px;
  @include transition (all, 0.25s, ease);
  @include bp-medium {
    margin-left: -195px;
  }
  @include bp-small {
    margin-left: -198px;    
  }
  @include bp-mobileOnly {
    margin-left: -200px;    
  }
}

