@import "../mixins.scss";

.key-container {
    display: grid;
    grid-template-areas: 
                "a a"
                "b c";
    outline: 2px solid orange;
    text-align: center; 
    font-size: 20px;                   
}

.close-button {
    padding-top: 40px;
}

.iconHover {
    transition: transform .4s;
    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
}

.keyIcon {
  height: 20px;
  width: 20px;
  background-image: url("../images/pokerChip.png");
}

.discard-all {
  &:hover {
    transform: scale(1.1)
  }
  @include transition (all, 0.25s, ease);
  @include bp-medium {
    margin-left: -195px;
  }
  @include bp-small {
    margin-left: -198px;    
  }
  @include bp-mobileOnly {
    margin-left: -200px;    
  }
  -webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

.sidebar-title {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background: linear-gradient(90deg, #123709 0%, #277714 24%, #33b115 85%);
}

.col-1 {
    grid-area: b;
}

.col-1 > li {
    border-bottom: 2px solid orange;


}

.col-2 {
    grid-area: c;
    outline: 2px solid orange;
}

.col-2 > li {
    border-bottom: 2px solid orange;
}

.col-1 > li:nth-of-type(1) {
    font-weight: bold;
  }

  .col-2 > li:nth-of-type(1) {
    font-weight: bold;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .col-1 > li:nth-child(2n){
    background-color: #ccc;
  }

  .col-2 > li:nth-child(2n){
    background-color: #ccc;
  }
