.player-card-container {
    display: flex;
    justify-content: center;
    margin-top: 15px 0;
    // padding-bottom: 40px;
}

.actions {
    display: flex;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
}

.card-slot {
    height: 144px;
    margin: 8px;
    width: 450px;
    background-color: #277714;
    border-radius: 6%;
    border: 1px solid #522ff0d4;
}