.player1 {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.card-containers {
    display: flex;
    padding-right: 25px;
    padding-left: 10px;
    flex-direction: column;
    justify-content: space-around;

}

.p1Actions {
    border-top: 4px double orange;
    padding: 0 8px 30px 6px;


}

.p2Actions {
    border-bottom: 4px double orange;
    padding: 0 8px 30px 6px;
}
