.player1 {
    display: flex;
    justify-content: center;
}

.card-containers {
    display: flex;
    flex-direction: column;
}

.arrow {
    display: inline-block;
    animation: .7s linear slidein;
    animation-iteration-count: 3;
    font-size: 34px;
    
  @keyframes slidein {
    from {
      transform: translateX(20px);
    }
    to {
      transform: translateX(0);
    }
  }
}

