@import "../mixins.scss";

.player-card-container {
    display: flex;
    justify-content: center;
    margin-top: 15px 0;
    // padding-bottom: 40px;
}

.actions {
    display: flex;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
}

.card-slot {
    display: flex;
    align-items: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);

    // height: 320px;
    margin: 8px;
    width: 430px;
    background-color: #277714;
    border-radius: 6%;
    border: 2px solid orange;
}

  .deck-container {
    // height: 268px;
    height: 164px;
    // width: 189px;
    width: 116px;
    // background-color: white;
    background-size: cover;
    // position: relative;
    // margin-top: 15px;
    transform: translateX(55px);
    border: 1px solid black;
    border-radius: 10px;
    // margin-left: -188px;
    margin-left: -112px;
    // font-size: 20px;
    // text-align: center;
    @include transition (all, 0.25s, ease);
    @include bp-medium {
      margin-left: -195px;
    }
    @include bp-small {
      margin-left: -198px;    
    }
    @include bp-mobileOnly {
      margin-left: -200px;    
    }
  }