body {
  background-image: url('./style/images/dark-wood.jpg');
  background-size: cover;
  box-sizing: border-box;
  cursor: 'pointer !important';

}

.body-container {
    margin: auto;
    max-width: 1400px;
}

.App {
  color: white;
  cursor: 'pointer !important';

}

.actions-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 170px;
  padding-top: 15px;
  background-color:#4c6350;
  /* background-color: rgb(82, 140, 78); */
  justify-content: space-around;
}

.Board {
  cursor: 'pointer !important';

  display: flex; 
  margin-top: 100px;
  border: 5px ridge orange;
  border-radius: 10px;
  /* background-color: rgb(70, 72, 75); */
  background-color: rgb(51 85 55);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
