body {
  box-sizing: border-box;
  background-color: #4e5461;

}

.body-container {
    margin: auto;
    max-width: 1400px;
}

.start-button {
    position: absolute;
    top: 158px;
    right: 100px;
}

.key {
  position: absolute;
  top: 205px;
  right: 100px;
}
.App {
  /* text-align: center; */
  color: white;
}

.Board {
  display: flex; 
  padding: 8px;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
