body {
  background-image: url('./style/images/dark-wood.jpg');
  background-size: cover;
  box-sizing: border-box;
  cursor: 'pointer !important';

}

.body-container {
    margin: auto;
    max-width: 1400px;
}

.App {
  color: white;
  cursor: 'pointer !important';

}

.actions-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 170px;
  background-color:#4c6350;
  /* background: rgb(18,55,9); */
/* background: linear-gradient(357deg, rgba(18,55,9,1) 0%, rgba(61,74,62,1) 32%, rgb(67, 100, 59) 85%); */
  justify-content: flex-end;
}

.game-buttons {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.Board {
  cursor: 'pointer !important';
  display: flex; 
  margin-top: 100px;
  border: 2px solid orange;
  background-color: rgb(19 71 25)
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
